
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100vh - 240px);
}

.drop_zone {
  background-color: rgba(240, 248, 255, 0.15);
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  flex: 1;
}

.select {
  height: 100%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  max-width: 300px;
}

.element {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.element_color {
  background-color: rgba(28, 28, 33, 1);
}

.dnd {
  background-image: url('../../images/dnd.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

