
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(65vh);
}

.drop_zone {
  background-color: rgba(240, 248, 255, 0.15);
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  flex: 1;
  min-height: 80px;
}

.select {
  height: 100%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  max-width: 300px;
}

.price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

