.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;
}

.details{
    composes: container;
    padding: 0;
}

.caption {
    display: grid;
    row-gap: 8px;
    column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: #8585AD;
    order: 0;
    align-self: center;
    flex-grow: 0;
    width: 520px;
}

.title {
    margin-left: 40px;
    width: 100%;
    max-width: 640px;
}

.subtitle {
    text-align: center;
    margin: 15px 0 38px 0;
}

.image {
    width: 480px;
    height: 240px;
    align-self: center;
}
