.tab {
  display: flex;
}

.ingredients {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 72vh;
  width: 100%;
  max-width: 600px;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 32px;
}
