.tab {
  display: flex;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
}

.ingredients {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 32px;
}
