.header {
  width: 100%;
  background: #1C1C21;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.04), 0 16px 24px 0 rgba(0, 0, 0, 0.04), 0 24px 32px 0 rgba(0, 0, 0, 0.04);

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  max-width: 1280px;
  width: 100%;
  min-height: 56px;
  display: flex;
  align-items: center;
}

.lk {
  margin-left: auto;
}

.logo {
  margin-left: 112px;
}

.icon {
  width: 24px;
  height: 24px;
}

.link {
  margin: 0;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  color: #F2F2F3;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: 1fr;
  gap: 0 40px;
  overflow: hidden;
}
